@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital@0;1&family=Source+Sans+Pro&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media screen and (max-width: 1024px) {
  .banner__item {
    margin: 0 auto;
    max-width: 75%;
  }
}
.banner__item-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
@media screen and (max-width: 1360px) {
  .banner__item-title {
    font-size: 62px;
    line-height: 74px;
  }
}
@media screen and (max-width: 1024px) {
  .banner__item-title {
    font-size: 44px;
    line-height: 52px;
  }
}
@media screen and (max-width: 767px) {
  .banner__item-title {
    font-size: 36px;
    line-height: 38px;
  }
}
@media screen and (max-width: 576px) {
  .banner__item-title {
    font-size: 28px;
  }
}
.banner__item-text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
  margin: 20px auto 0;
  color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
  .banner__item-text {
    font-size: 14px;
    line-height: 18px;
    margin: 10px auto;
  }
}

.subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
}
@media screen and (max-width: 1360px) {
  .subtitle {
    font-size: 36px;
    line-height: 38px;
  }
}
@media screen and (max-width: 767px) {
  .subtitle {
    font-size: 28px;
    line-height: 32px;
  }
}
.subtitle::before {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  margin: 0 auto 30px;
}

* {
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  color: #2C4058;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  min-width: 375px;
  max-width: 1600px;
  margin: 0 auto;
}

.wrapper {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
}
@media screen and (max-width: 1360px) {
  .wrapper {
    padding: 0 50px;
  }
}
@media screen and (max-width: 767px) {
  .wrapper {
    padding: 0 30px;
  }
}

.header {
  background: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
}
.header__container {
  background-image: url(../../images/img/background1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  height: 50vw;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .header__container {
    height: 70vw;
  }
}
@media screen and (max-width: 768px) {
  .header__container {
    height: 100vw;
  }
}
@media screen and (max-width: 576px) {
  .header__container {
    height: 140vw;
  }
}

.footer {
  background: linear-gradient(251.06deg, #7E5AFF -2.19%, #55B7FF 103.21%);
}
.footer__container {
  background-image: url(../../images/img/footer.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  height: 34.3vw;
  position: relative;
  padding: 205px 0;
}
@media screen and (max-width: 1359px) {
  .footer__container {
    height: 46.3vw;
  }
}

.header__logo .logo {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .header__logo .logo {
    width: 100%;
    max-width: 200px;
  }
}

.navigation {
  position: absolute;
  top: 53px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 1360px) {
  .navigation {
    padding: 0 50px;
  }
}
@media screen and (max-width: 1023px) {
  .navigation {
    padding: 10px 30px;
    top: 0;
  }
}
.navigation__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
}
.navigation__block .test {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1023px) {
  .nav {
    display: none;
  }
}
.nav__list {
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list:not(:first-child) {
  margin-left: 70px;
}
@media screen and (max-width: 1360px) {
  .nav__list:not(:first-child) {
    margin-left: 50px;
  }
}
.nav__list:hover > .nav__list-link::before {
  background-color: #FFFFFF;
}
.nav__list-link {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  position: relative;
}
.nav__list-link:focus.nav__list-link::before {
  background-color: #FFFFFF;
  transition: all 300ms ease-in;
}
.nav__list-link::before {
  content: "";
  display: inline-block;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  margin-right: 14px;
}

.mobile {
  display: none;
}
@media screen and (max-width: 1023px) {
  .mobile {
    display: block;
  }
}
.mobile__btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  margin-left: auto;
}
.mobile__btn.active .mobile__btn-line:nth-child(1) {
  display: none;
}
.mobile__btn.active .mobile__btn-line:nth-child(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.mobile__btn.active .mobile__btn-line:nth-child(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}
.mobile__btn-line {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  transition: all 0.5s;
}
.mobile__btn-line:nth-child(2) {
  top: calc(50% - 5px);
}
.mobile__btn-line:nth-child(3) {
  top: calc(50% + 5px);
}
.mobile__menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 70vw;
  padding-top: 50px;
  background-color: #55B7FF;
  transform: translateX(-100%);
  transition: transform 500ms ease-in-out;
}
@media screen and (max-width: 768px) {
  .mobile__menu {
    height: 100vw;
  }
}
@media screen and (max-width: 576px) {
  .mobile__menu {
    height: 140vw;
  }
}
.mobile__menu.active {
  transform: translateX(0);
}
.mobile__menu-list {
  background-color: #55B7FF;
  list-style-type: none;
}
.mobile__menu-link {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 10px;
}
.mobile__menu-link:focus {
  background-color: #FFFFFF;
  transition: all 300ms ease-in-out;
  color: #4B5562;
}

.social {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  .social-header {
    margin-right: 30px;
  }
}
@media screen and (max-width: 576px) {
  .social-header {
    display: none;
  }
}
.social__list:not(:first-child) {
  margin-left: 20px;
}
.social__list-link {
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.social__list-link:hover {
  border: 1px solid white;
  background-color: #55B7FF;
}
.social__list-link .icon {
  width: 18px;
  height: 18px;
}

.banner {
  text-align: center;
  width: 100%;
}
.banner__item {
  margin: 0 auto;
}

.project__title {
  color: #2C4058;
  text-align: center;
}
@media screen and (max-width: 1360px) {
  .project__title {
    font-size: 36px;
    line-height: 38px;
  }
}
@media screen and (max-width: 767px) {
  .project__title {
    font-size: 28px;
    line-height: 32px;
  }
}
.project__title::before {
  background-color: #2C4058;
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  .project__title::before {
    margin-top: 70px;
  }
}
.project__first {
  margin-top: 90px;
  position: relative;
}
@media screen and (max-width: 1360px) {
  .project__first {
    margin-top: 70px;
  }
}
@media screen and (max-width: 1023px) {
  .project__first {
    margin-top: 50px;
  }
}
.project__first .block__inner {
  margin-left: 70px;
}
@media screen and (max-width: 1360px) {
  .project__first .block__inner {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1023px) {
  .project__first .block__inner {
    margin: 0;
  }
}
.project__first .block__project-img::before {
  background-color: #55B7FF;
  left: 0;
}
.project__image {
  display: block;
  width: 100%;
}
@media screen and (max-width: 1360px) {
  .project__image {
    max-width: 540px;
  }
}
@media screen and (max-width: 1024px) {
  .project__image {
    max-width: 490px;
  }
}
@media screen and (max-width: 1023px) {
  .project__image {
    max-width: 630px;
  }
}
@media screen and (max-width: 767px) {
  .project__image {
    max-width: 100%;
  }
}
.project__second {
  margin-top: 120px;
  position: relative;
}
@media screen and (max-width: 1023px) {
  .project__second {
    margin-top: 50px;
  }
}
.project__second .block {
  flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  .project__second .block {
    flex-direction: row;
  }
}
.project__second .block__inner {
  margin-right: 70px;
}
@media screen and (max-width: 1360px) {
  .project__second .block__inner {
    margin-right: 50px;
  }
}
@media screen and (max-width: 1023px) {
  .project__second .block__inner {
    margin-right: 0;
    margin-left: auto;
    text-align: end;
  }
}
@media screen and (max-width: 767px) {
  .project__second .block__inner {
    margin: 0;
    text-align: left;
  }
}
@media screen and (max-width: 1023px) {
  .project__second .block__inner-location {
    justify-content: right;
  }
}
@media screen and (max-width: 767px) {
  .project__second .block__inner-location {
    justify-content: left;
  }
}
.project__second .block__project-img::before {
  background-color: #7E5AFF;
  right: 0;
}
.project__second .project__image {
  margin-left: auto;
}

.block {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  .block {
    display: block;
  }
}
.block__project {
  margin-top: auto;
}
@media screen and (max-width: 1360px) {
  .block__project-img {
    padding-top: 60px;
  }
}
@media screen and (max-width: 767px) {
  .block__project-img {
    padding-top: 0;
    margin: 0 auto;
    width: 100%;
  }
}
.block__project-img::before {
  content: "";
  display: block;
  width: 100%;
  max-width: 585px;
  height: 470px;
  position: absolute;
  top: 0;
  z-index: -1;
}
@media screen and (max-width: 1360px) {
  .block__project-img::before {
    height: 400px;
    max-width: 490px;
  }
}
@media screen and (max-width: 1024px) {
  .block__project-img::before {
    height: 380px;
    max-width: 490px;
  }
}
@media screen and (max-width: 1023px) {
  .block__project-img::before {
    max-width: 585px;
    height: 450px;
  }
}
@media screen and (max-width: 767px) {
  .block__project-img::before {
    display: none;
  }
}
.block__inner {
  max-width: 43%;
}
@media screen and (max-width: 1023px) {
  .block__inner {
    margin: 0;
    max-width: 75%;
  }
}
@media screen and (max-width: 767px) {
  .block__inner {
    margin: 0 auto;
    max-width: 100%;
  }
}
.block__inner-text {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  line-height: 27px;
  margin-top: 150px;
}
@media screen and (max-width: 1360px) {
  .block__inner-text {
    margin-top: 100px;
  }
}
@media screen and (max-width: 1360px) {
  .block__inner-text {
    margin-top: 80px;
  }
}
@media screen and (max-width: 1023px) {
  .block__inner-text {
    margin-top: 60px;
  }
}
@media screen and (max-width: 767px) {
  .block__inner-text {
    margin-top: 50px;
    font-size: 18px;
    line-height: 18px;
  }
}
.block__inner-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
}
@media screen and (max-width: 1360px) {
  .block__inner-title {
    font-size: 36px;
    line-height: 38px;
  }
}
@media screen and (max-width: 767px) {
  .block__inner-title {
    font-size: 28px;
    line-height: 32px;
  }
}
.block__inner-description {
  line-height: 30px;
  margin-top: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 87px;
}
.block__inner-location {
  display: flex;
  align-items: center;
  margin: 60px 0 26px;
}
@media screen and (max-width: 1023px) {
  .block__inner-location {
    margin: 40px 0 26px;
  }
}
.block__inner-location .icon {
  width: 9px;
  height: 17px;
}
.block__inner-location .location {
  font-style: italic;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  margin-left: 10px;
}

.news {
  background: linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
  margin-top: 150px;
}
@media screen and (max-width: 1360px) {
  .news {
    margin-top: 100px;
  }
}
@media screen and (max-width: 1024px) {
  .news {
    margin-top: 80px;
  }
}
@media screen and (max-width: 1023px) {
  .news {
    margin-top: 60px;
  }
}
.news__container {
  background-image: url(../../images/img/background2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  padding: 120px 0 170px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .news__container {
    padding: 90px 0 140px;
  }
}
@media screen and (max-width: 767px) {
  .news__container {
    padding: 70px 0 100px;
  }
}
.news__block {
  margin: 90px auto 0;
}
@media screen and (max-width: 768px) {
  .news__block {
    margin: 60px auto 0;
  }
}
@media screen and (max-width: 576px) {
  .news__block {
    margin: 40px auto 0;
  }
}
.news__title {
  color: #FFFFFF;
  text-align: center;
}
.news__title::before {
  background-color: #FFFFFF;
}

.slick {
  margin: 0 15px;
}

.post {
  width: 100%;
  max-width: 370px;
  background: #FFFFFF;
  margin: 0 auto;
}
.post__img {
  width: 100%;
  max-width: 370px;
  height: 240px;
}
.post__inner {
  padding: 30px 20px;
}
.post__inner-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
}
.post__inner-description {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  height: 50px;
  line-height: 25px;
  margin-top: 15px;
}
.post__inner-info {
  display: flex;
  margin-top: 39px;
}
.post__inner-info .picture {
  border: none;
  border-radius: 50%;
}
.post__inner-info .info {
  margin-left: 20px;
}
.post__inner-info .info__name {
  font-family: "Montserrat", sans-serif;
  line-height: 22px;
  margin-top: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 22px;
}
.post__inner-info .info__data {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #55B7FF;
  margin-top: 6px;
}

.gallery {
  text-align: center;
}
.gallery__title {
  color: #2C4058;
}
.gallery__title::before {
  background-color: #2C4058;
  margin-top: 150px;
}
@media screen and (max-width: 1360px) {
  .gallery__title::before {
    margin-top: 120px;
  }
}
@media screen and (max-width: 1023px) {
  .gallery__title::before {
    margin-top: 90px;
  }
}
@media screen and (max-width: 767px) {
  .gallery__title::before {
    margin-top: 70px;
  }
}
.gallery__block {
  display: grid;
  margin: 90px auto 0;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  line-height: 0;
}
@media screen and (max-width: 1360px) {
  .gallery__block {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1024px) {
  .gallery__block {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .gallery__block {
    margin: 60px auto 0;
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .gallery__block {
    margin: 40px auto 0;
  }
}
.gallery__block-first {
  grid-column: 1/3;
  grid-row: 1/3;
  position: relative;
}
@media screen and (max-width: 1360px) {
  .gallery__block-first {
    grid-column: 1/5;
    grid-row: 1/5;
  }
}
@media screen and (max-width: 1024px) {
  .gallery__block-first {
    grid-column: 1/3;
    grid-row: 1/3;
  }
}
.gallery__block-first .icon {
  opacity: 0;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  cursor: pointer;
}
.gallery__block-first .icon:hover {
  opacity: 1;
  color: #2C4058;
  transition: all 200ms ease-in-out;
}
.gallery__block-second {
  grid-column: 3/4;
}
@media screen and (max-width: 1360px) {
  .gallery__block-second {
    grid-column: 5/6;
  }
}
@media screen and (max-width: 1024px) {
  .gallery__block-second {
    grid-column: 1/2;
  }
}
.gallery__block-third {
  grid-column: 4/5;
}
@media screen and (max-width: 1360px) {
  .gallery__block-third {
    grid-column: 5/6;
    grid-row: 2/3;
  }
}
@media screen and (max-width: 1024px) {
  .gallery__block-third {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
.gallery__block-fourth {
  grid-column: 3/4;
  grid-row: 2/3;
}
@media screen and (max-width: 1360px) {
  .gallery__block-fourth {
    grid-column: 5/6;
    grid-row: 3/4;
  }
}
@media screen and (max-width: 1024px) {
  .gallery__block-fourth {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
.gallery__block-fifth {
  grid-column: 4/5;
  grid-row: 2/3;
}
@media screen and (max-width: 1360px) {
  .gallery__block-fifth {
    grid-column: 5/6;
    grid-row: 4/5;
  }
}
@media screen and (max-width: 1024px) {
  .gallery__block-fifth {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}
.gallery .image {
  cursor: pointer;
  width: 100%;
}
.gallery .image:hover ~ .icon {
  opacity: 1;
  transition: all 200ms ease-in-out;
}

.contact {
  background-image: url(../../images/img/Map.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 43.8vw;
  width: 100%;
  position: relative;
  padding: 100px 0;
}
@media screen and (max-width: 767px) {
  .contact {
    height: 66.8vw;
  }
}
@media screen and (max-width: 576px) {
  .contact {
    height: 134.2vw;
  }
}
.contact__form {
  background: #FFFFFF;
  background-image: url(../../images/img/form.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 770px;
  width: 100%;
  min-height: 450px;
  padding: 60px 60px 67px;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 34%);
}
@media screen and (max-width: 1023px) {
  .contact__form {
    max-width: 668px;
    min-height: 350px;
    padding: 30px;
  }
}
@media screen and (max-width: 767px) {
  .contact__form {
    max-width: 520px;
    min-height: 380px;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 576px) {
  .contact__form {
    max-width: 300px;
    min-height: 500px;
  }
}
.contact__form-title {
  text-align: center;
}
.contact__form-title::before {
  background: #2C4058;
}
.contact__form-inner {
  margin-top: 42px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .contact__form-inner {
    display: block;
    width: 100%;
  }
}
.contact__form-inner .contacts {
  width: 50%;
}
@media screen and (max-width: 1023px) {
  .contact__form-inner .contacts {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .contact__form-inner .contacts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (max-width: 576px) {
  .contact__form-inner .contacts {
    display: block;
  }
}
.contact__form-inner .contacts__info {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .contact__form-inner .contacts__info {
    width: 50%;
  }
}
@media screen and (max-width: 576px) {
  .contact__form-inner .contacts__info {
    width: 100%;
  }
}
.contact__form-inner .contacts__info:not(:first-child) {
  margin-top: 28px;
}
@media screen and (max-width: 767px) {
  .contact__form-inner .contacts__info:not(:first-child) {
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .contact__form-inner .contacts__info:not(:first-child) {
    margin-top: 10px;
  }
}
.contact__form-inner .contacts .icon {
  width: 20px;
  height: 18px;
  color: #7E5AFF;
  margin-right: 10px;
}
.contact__form-inner .form {
  width: 50%;
  margin-left: 54px;
  text-align: right;
}
@media screen and (max-width: 767px) {
  .contact__form-inner .form {
    width: 100%;
    margin: 20px 0 0;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.contact__form-inner .form .input {
  width: 100%;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid rgba(44, 64, 88, 0.2);
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  line-height: 27px;
  color: rgba(44, 64, 88, 0.5);
  outline: none;
  background-color: transparent;
}
@media screen and (max-width: 1023px) {
  .contact__form-inner .form .input {
    font-size: 14px;
    line-height: 18px;
  }
}
@media screen and (max-width: 767px) {
  .contact__form-inner .form .input {
    width: 48%;
  }
}
@media screen and (max-width: 576px) {
  .contact__form-inner .form .input {
    width: 100%;
  }
}
.contact__form-inner .form .input::-moz-placeholder {
  color: rgba(44, 64, 88, 0.5);
}
.contact__form-inner .form .input::placeholder {
  color: rgba(44, 64, 88, 0.5);
}
.contact__form-inner .form .input:focus {
  border: none;
  border-bottom: 1px solid #2c4058;
  color: #2c4058;
}
.contact__form-inner .form .email {
  margin-top: 33px;
}
@media screen and (max-width: 767px) {
  .contact__form-inner .form .email {
    margin: 0;
  }
}
@media screen and (max-width: 576px) {
  .contact__form-inner .form .email {
    margin-top: 33px;
  }
}

.footer__block {
  display: flex;
  justify-content: space-between;
  max-width: 770px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  margin: 0 auto;
}
@media screen and (max-width: 1023px) {
  .footer__block {
    max-width: 668px;
  }
}
@media screen and (max-width: 767px) {
  .footer__block {
    max-width: 520px;
  }
}
@media screen and (max-width: 576px) {
  .footer__block {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .footer__block .copyrights {
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .footer__block .copyrights__logo {
    margin-top: 50px;
  }
}
.footer__block .copyrights__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-top: 41px;
}
@media screen and (max-width: 576px) {
  .footer__block .copyrights__text {
    margin-top: 100px;
  }
}
.footer__block .copyrights__text-inner::after {
  content: "©";
  margin-left: 5px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  cursor: pointer;
}
.btn:hover {
  border: 1px solid white;
  background-color: #55B7FF;
}
.btn-banner {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
}
@media screen and (max-width: 767px) {
  .btn-banner {
    bottom: 30px;
  }
}
.btn-banner .icon {
  width: 10px;
  height: 17px;
  color: #FFFFFF;
}
.btn__inner {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background-color: transparent;
  border: 1px solid #2C4058;
  cursor: pointer;
}
.btn__inner:hover {
  background-color: #2C4058;
  color: #FFFFFF;
  transition: all 300ms ease-in-out;
}
.btn__project {
  padding: 16px 41px;
  margin-top: 40px;
}
.btn__gallery {
  padding: 16px 57px;
  margin: 60px 0 150px;
}
@media screen and (max-width: 1023px) {
  .btn__gallery {
    margin: 60px 0 120px;
  }
}
@media screen and (max-width: 767px) {
  .btn__gallery {
    margin: 60px 0 80px;
  }
}
.btn__form {
  font-size: 18px;
  line-height: 27px;
  padding: 12px 34px;
  margin-top: 30px;
}

* a {
  text-decoration: none;
  color: #FFFFFF;
}

.link {
  color: #2C4058;
  line-height: 28px;
  display: inline;
}

.news__block .slick-dots {
  position: absolute;
  left: 50%;
  display: flex;
  bottom: -40px;
  transform: translateX(-50%);
}
.news__block .slick-dots li {
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.news__block .slick-dots li.slick-active {
  background: #FFFFFF;
}
.news__block .slick-dots li:not(:last-child) {
  margin-right: 40px;
}
.news__block .slick-dots li button {
  display: none;
}

.btn__slick-prev {
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translate(-50%);
}

.btn__slick-next {
  position: absolute;
  top: 50%;
  right: -65px;
  transform: translate(-50%);
}

.btn-slider .icon {
  width: 6px;
  height: 16px;
  color: #FFFFFF;
}

.slider {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  cursor: pointer;
}
.slider .slick-dots {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .slider .slick-dots {
    right: 30px;
  }
}
@media screen and (max-width: 576px) {
  .slider .slick-dots {
    display: none;
  }
}
.slider .slick-dots li {
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.slider .slick-dots li.slick-active {
  background: #FFFFFF;
}
.slider .slick-dots li:not(:last-child) {
  margin-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  .slider .slick-dots li:not(:last-child) {
    margin-bottom: 20px;
  }
}
.slider .slick-dots li button {
  display: none;
}

a[data-fancybox] img {
  cursor: zoom-in;
}

.fancybox__container {
  --carousel-button-bg: rgb(0 0 0 / 44%);
  --carousel-button-svg-width: 24px;
  --carousel-button-svg-height: 24px;
  --carousel-button-svg-stroke-width: 2.5;
  --carousel-button-svg-filter: none;
}

.fancybox__nav {
  --carousel-button-svg-width: 22px;
  --carousel-button-svg-height: 22px;
  --carousel-button-svg-stroke-width: 3;
}

.fancybox__nav .carousel__button.is-prev {
  left: 30px;
}

.fancybox__nav .carousel__button.is-next {
  right: 30px;
}

.carousel__button.is-close {
  top: 30px;
  right: 30px;
}

.fancybox__slide {
  padding: 0;
}

.fancybox__thumbs {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.fancybox__thumbs .carousel__slide {
  padding: 20px 10px;
  overflow: visible;
}

.fancybox__thumb {
  border-radius: 6px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3), 0 2px 4px -1px rgba(0, 0, 0, 0.26);
}

.is-nav-selected .fancybox__thumb {
  transform: scale(1.25);
}

.is-nav-selected .fancybox__thumb::after {
  display: none;
}/*# sourceMappingURL=style.css.map */