.footer {
    background: $background-footer;

    &__container {
        background-image: url(../images/img/footer.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
        height: 34.3vw;
        position: relative;
        padding: 205px 0;

        @media screen and (max-width:$desktop-small-end) {
            height: 46.3vw;
        }
    }
}