.footer {
    background: $background-footer;

    &__container {
        background-image: url(../../images/img/footer.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
        height: 34.3vh;
        position: relative;
        // padding: 203px 50px 234px;

        @media screen and (max-width:$mobile) {
            height: 100vh;
        }

    }
}