.header {
    background: $background-header;

    &__container {
        background-image: url(../../images/img/background1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
        height: 50vw;
        position: relative;
    }
}