.contact {
    background-image: url(../images/img/Map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 43.7vw;
    width: 100%;
    position: relative;
    padding: 100px 0;

    @media screen and (max-width:$mobile-end) {
        height: 66.8vw;
    }

    @media screen and (max-width:$mobile) {
       height: 134.2vw;
    }

    &__form {
        background: $default-color-white;
        background-image: url(../images/img/form.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-width: 770px;
        width: 100%;
        min-height: 450px;
        padding: 60px 60px 67px;
        margin: 0 auto;
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 33%);

        @media screen and (max-width:$tablet-end) {
            max-width: 668px;
            min-height: 350px;
            padding: 30px;
        }

        @media screen and (max-width:$mobile-end) {
            max-width: 520px;
            min-height: 380px;
            top: 50%;
            left: 50%;
            z-index: 2;
            transform: translate(-50%,-50%);
        }

        @media screen and (max-width:$mobile) {
            max-width: 300px;
            min-height: 500px;
        }

        &-title {
            text-align: center;

            &::before {
                background: $default-color-blue;
            }
        }

        &-inner {
            margin-top: 42px;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width:$mobile-end) {
                display: block;
                width: 100%;
            }

            .contacts {
                width: 50%;

                @media screen and (max-width:$tablet-end) {
                    font-size: $font-size-btn;
                }

                @media screen and (max-width:$mobile-end) {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }

                @media screen and (max-width:$mobile) {
                    display: block;
                }

                &__info {
                    display: flex;
                    align-items: center;

                    @media screen and (max-width:$mobile-end) {
                        width: 50%;
                    }

                    @media screen and (max-width:$mobile) {
                        width: 100%;
                    }

                    &:not(:first-child) {
                        margin-top: 28px;

                        @media screen and (max-width:$mobile-end) {
                            margin: 0;
                        }

                        @media screen and (max-width:$mobile-end) {
                            margin-top: 10px;
                        }
                    }
                }

                .icon {
                    width: 20px;
                    height: 18px;
                    color: $color-purple;
                    margin-right: 10px;
                }
            }

            .form {
                width: 48%;
                text-align: right;

                @media screen and (max-width:$mobile-end) {
                    width: 100%;
                    margin: 20px 0 0;
                    text-align: left;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }

                .input {
                    width: 100%;
                    padding-bottom: 10px;
                    border: none;
                    border-bottom: 1px solid rgba($color: $default-color-blue, $alpha: 0.2);
                    font-size: $default-font-size;
                    font-family: $primary-font-title;
                    line-height: 27px;
                    color: rgba($color: $default-color-blue, $alpha: 0.5);
                    outline: none;
                    background-color: transparent;

                    @media screen and (max-width:$tablet-end) {
                        font-size: $font-size-btn;
                        line-height: 18px;
                    }

                    @media screen and (max-width:$mobile-end) {
                        width: 48%;
                    }

                    @media screen and (max-width:$mobile) {
                        width: 100%;
                    }

                    &::placeholder {
                        color: rgba($color: $default-color-blue, $alpha: 0.5);
                    }

                    &:focus {
                        border: none;
                        border-bottom: 1px solid rgba($color: $default-color-blue, $alpha: 1);
                        color: rgba($color: $default-color-blue, $alpha: 1);
                    }
                }

                .email {
                    margin-top: 33px;

                    @media screen and (max-width:$mobile-end) {
                        margin: 0;
                    }

                    @media screen and (max-width:$mobile) {
                        margin-top: 33px;
                    }
                }
            }
        }
    }
}