.footer__block {
    display: flex;
    justify-content: space-between;
    max-width: 770px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    margin: 0 auto;

    @media screen and (max-width:$tablet-end) {
        max-width: 668px;
    }

    @media screen and (max-width:$mobile-end) {
        max-width: 520px;
    }

    @media screen and (max-width:$mobile) {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
    }

    .copyrights {

        @media screen and (max-width:$mobile) {
            text-align: center;
        }

        &__logo {
            @media screen and (max-width:$mobile) {
                margin-top: 50px;
            }
        }

        &__text {
            font-family: $primary-font-title;
            font-weight: $primary-font-weight;
            font-size: $font-size-btn;
            line-height: 17px;
            color: $default-color-white;
            margin-top: 41px;

            @media screen and (max-width:$mobile) {
                margin-top: 100px;
            }

            &-inner {

                &::after {
                    content: '\00a9';
                    margin-left: 5px;
                }
            }
        }
    }
}