.navigation {
    position: absolute;
    top: 53px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media screen and (max-width:$desktop) {
        padding: 0 50px;
    }

    @media screen and (max-width:$tablet-end) {
        padding: 10px 30px;
        top: 0;
    }

    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        max-width: $max-content-width;

        .test {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $tablet-end) {
        display: none;
    }

    &__list {
        color: $default-color-white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(:first-child) {
            margin-left: 70px;

            @media screen and (max-width:$desktop) {
                margin-left: 50px;
            }
        
        }

        &:hover>.nav__list-link::before {
            background-color: $default-color-white;
        }

        &-link {
            font-family: $primary-font-nav;
            font-size: $font-size-btn;
            line-height: 18px;
            color: $default-color-white;
            position: relative;

            &:focus.nav__list-link::before {
                background-color: $default-color-white;
                transition: all 300ms ease-in;
            }

            &::before {
                content: '';
                display: inline-block;
                border: 1px solid $default-color-white;
                border-radius: 50%;
                width: 9px;
                height: 9px;
                margin-right: 14px;
            }
        }
    }
}