.news {
    background: $background-news;
    margin-top: 150px;
    // height: 61.1vw;

    @media screen and (max-width:$desktop) {
        margin-top: 100px;
    }

    @media screen and (max-width:$desktop-small) {
        margin-top: 80px;
    }

    @media screen and (max-width:$tablet-end) {
        margin-top: 60px;
    }

    &__container {
        background-image: url(../images/img/background2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0 auto;
        padding: 120px 0 170px;
        position: relative;

        @media screen and (max-width:$desktop-small) {
            padding: 90px 0 140px;
        }

        @media screen and (max-width:$mobile-end) {
            padding: 70px 0 100px;
        }
    }

    &__block {
        margin: 90px auto 0;

        @media screen and (max-width:$tablet) {
            margin: 60px auto 0;
        }

        @media screen and (max-width:$mobile) {
            margin: 40px auto 0;
        }
    }

    &__title {
        color: $default-color-white;
        text-align: center;


        &::before {
            background-color: $default-color-white;
        }
    }
}

.post {
    width: 100%;
    max-width: 370px;
    background: $default-color-white;
    margin: 0 15px;

    &__img {
        width: 100%;
        max-width: 370px;
        height: 240px;
    }

    &__inner {
        padding: 30px 20px;

        &-title {
            font-family: $primary-font-title;
            font-weight: $secondary-font-weight;
            font-size: $default-font-subtitle;
            line-height: 27px;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 50px;
        }

        &-description {
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
            height: 50px;
            line-height: 25px;
            margin-top: 15px;
        }

        &-info {
            display: flex;
            margin-top: 39px;


            .picture {
                border: none;
                border-radius: 50%;
            }

            .info {
                margin-left: 20px;

                &__name {
                    font-family: $primary-font-title;
                    line-height: 22px;
                    margin-top: 7px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    height: 22px;
                }

                &__data {
                    font-family: $primary-font-title;
                    font-size: $font-size-btn;
                    line-height: 17px;
                    color: $color-blue;
                    margin-top: 6px;
                }
            }
        }
    }
}