.project {

    &__title {
        color: $default-color-blue;
        text-align: center;


        @media screen and (max-width:$desktop) {
            font-size: $primary-title-small;
            line-height: 38px;
        }

        @media screen and (max-width:$mobile-end) {
            font-size: $secondary-title-small;
            line-height: 32px;
        }

        &::before {
            background-color: $default-color-blue;
            margin-top: 100px;

            // @media screen and (max-width:$desktop-small) {
            //     margin-top: 80px;
            // }

            @media screen and (max-width:$tablet) {
                margin-top: 70px;
            }
        }
    }

    &__first {
        margin-top: 90px;
        position: relative;

        @media screen and (max-width:$desktop) {
            margin-top: 70px;
        }

        @media screen and (max-width:$tablet-end) {
            margin-top: 50px;
        }

        .block {

            &__inner {
                margin-left: 70px;

                @media screen and (max-width:$desktop) {
                    margin-left: 50px;
                }

                @media screen and (max-width:$tablet-end) {
                    margin: 0;
                }
            }
        }

        .block__project-img {

            &::before {
                background-color: $color-blue;
                left: 0;
            }
        }
    }

    &__image {
        display: block;
        width: 100%;

        @media screen and (max-width:$desktop) {
            max-width: 540px;
        }

        @media screen and (max-width:$desktop-small) {
            max-width: 490px;
        }

        @media screen and (max-width:$tablet-end) {
            max-width: 630px;
        }

        @media screen and (max-width:$mobile-end) {
            max-width: 100%;
        }
    }

    &__second {
        margin-top: 120px;
        position: relative;

        @media screen and (max-width:$tablet-end) {
            margin-top: 50px;
        }

        .block {
            flex-direction: row-reverse;

            @media screen and (max-width:$mobile-end) {
                flex-direction: row;
            }


            &__inner {
                margin-right: 70px;

                @media screen and (max-width:$desktop) {
                    margin-right: 50px;
                }

                @media screen and (max-width:$tablet-end) {
                    margin-right: 0;
                    margin-left: auto;
                    text-align: end;
                }

                @media screen and (max-width:$mobile-end) {
                    margin: 0;
                    text-align: left;
                }

                &-location {

                    @media screen and (max-width:$tablet-end) {
                        justify-content: right;
                    }

                    @media screen and (max-width:$mobile-end) {
                        justify-content: left;
                    }
                }
            }
        }

        .block__project-img {

            &::before {
                background-color: $color-purple;
                right: 0;
            }
        }

        .project__image {
            margin-left: auto;
        }
    }
}

.block {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width:$tablet-end) {
        display: block;
    }

    &__project {
        margin-top: auto;

        &-img {

            @media screen and (max-width:$desktop) {
                padding-top: 60px;
            }

            @media screen and (max-width:$mobile-end) {
                padding-top: 0;
                margin: 0 auto;
                width: 100%;
            }

            &::before {
                content: '';
                display: block;
                width: 100%;
                max-width: 585px;
                height: 470px;
                position: absolute;
                top: 0;
                z-index: -1;

                @media screen and (max-width:$desktop) {
                    height: 400px;
                    max-width: 490px;
                }

                @media screen and (max-width:$desktop-small) {
                    height: 380px;
                    max-width: 490px;
                }

                @media screen and (max-width:$tablet-end) {
                    max-width: 585px;
                    height: 450px;

                }

                @media screen and (max-width:$mobile-end) {
                    display: none;
                }
            }
        }
    }

    &__inner {
        max-width: 43%;

        @media screen and (max-width:$tablet-end) {
            margin: 0;
            max-width: 75%;
        }

        @media screen and (max-width:$mobile-end) {
            margin: 0 auto;
            max-width: 100%;
        }

        &-text {
            font-family: $primary-font-title;
            font-size: $default_font-subtitle;
            line-height: 27px;
            margin-top: 150px;

            @media screen and (max-width:$desktop) {
                margin-top: 100px;
            }

            @media screen and (max-width:$desktop) {
                margin-top: 80px;
            }

            @media screen and (max-width:$tablet-end) {
                margin-top: 60px;
            }

            @media screen and (max-width:$mobile-end) {
                margin-top: 50px;
                font-size: $default-font-size;
                line-height: 18px;
            }
        }

        &-title {
            font-family: $primary-font-title;
            font-weight: $secondary-font-weight;
            font-size: $default_font-title;
            line-height: 54px;

            @media screen and (max-width:$desktop) {
                font-size: $primary-title-small;
                line-height: 38px;
            }

            @media screen and (max-width:$mobile-end) {
                font-size: $secondary-title-small;
                line-height: 32px;
            }
        }

        &-description {
            line-height: 30px;
            margin-top: 19px;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 87px;
        }

        &-location {
            display: flex;
            align-items: center;
            margin: 60px 0 26px;

            @media screen and (max-width:$tablet-end) {
                margin: 40px 0 26px;
            }

            .icon {
                width: 9px;
                height: 17px;
            }

            .location {
                font-style: italic;
                font-size: $font-size-location;
                line-height: 20px;
                color: $color-black;
                margin-left: 10px;
            }
        }
    }
}