.social {
    display: flex;
    justify-content: space-between;

    &-header {

        @media screen and (max-width:$tablet-end) {
            margin-right: 30px;
        }

        @media screen and (max-width:$mobile) {
            display: none;
        }
    }

    &__list {

        &:not(:first-child) {
            margin-left: 20px;
        }

        &-link {
            border: 1px solid rgba($color: $default-color-white, $alpha: 0.4);

            &:hover {
                border: 1px solid rgba($color: $default-color-white, $alpha: 1);
                background-color: $color-blue;
            }

            .icon {
                width: 18px;
                height: 18px;
            }
        }
    }
}