.news__block {
    

    .slick-dots {
        position: absolute;
        left: 50%;
        display: flex;
        bottom: -40px;
        transform: translateX(-50%);
    
        & li {
            background: transparent;
            border: 1px solid $default-color-white;
            border-radius: 50%;
            width: 10px;
            height: 10px;
    
            &.slick-active {
                background: $default-color-white;
            }
    
            &:not(:last-child) {
                margin-right: 40px;

                // @media screen and (max-width:$desktop-small) {
                //     margin-right: 20px;
                // }
            }
    
            button {
                display: none;
            }
        }
    }
}

.btn__slick-prev {
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translate(-50%);
}

.btn__slick-next {
    position: absolute;
    top: 50%;
    right: -65px;
    transform: translate(-50%);
}

.btn-slider {

    .icon {
        width: 6px;
        height: 16px;
        color: $default-color-white;
    }
}

.slider {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    cursor: pointer;

    .slick-dots {
        position: absolute;
        top: 50%;
        right: 50px;
        transform: translateY(-50%);

        @media screen and (max-width:$tablet) {
            right: 30px;
        }
        
        @media screen and (max-width:$mobile) {
            display: none;
        }
    
        & li {
            background: transparent;
            border: 1px solid $default-color-white;
            border-radius: 50%;
            width: 10px;
            height: 10px;
    
            &.slick-active {
                background: $default-color-white;
            }
    
            &:not(:last-child) {
                margin-bottom: 40px;

                  @media screen and (max-width:$desktop-small) {
                    margin-bottom: 20px;
                }
            }
    
            button {
                display: none;
            }
        }
    }
}


